
<h1>Delete Profile</h1>

<form method="post">
    @foreach (var profile in ViewBag.profiles)
    {
        <div class="form-group">
            <label>
                <span>@profile.UserName</span>
                <input type="checkbox" name="profileIds" value="@profile.Id" class="form-control">
            </label>
        </div>
    }

    <input type="submit" value="Delete Selected Profile" class="btn btn-danger">
    <p><a asp-controller="Profile" asp-action="Index">Return</a></p>


</form>