@using Kapow.ViewModels
@model AddRestaurantViewModel

<h1>Add Restaurant to your Profile!: @Model.Profile.UserName </h1>


<form asp-controller="Restaurant" asp-action="AddProfile" method="post">

    <input type="hidden" value="@Model.Profile.Id" name="ProfileId" />

    <div class="form-group">
        <label asp-for="RestaurantId">Restaurant</label>
        <select asp-for="RestaurantId" asp-items="Model.Restaurants"></select>
        <span asp-validation-for="RestaurantId"></span>
    </div>
    <br />
    <input type="submit" value="Add restaurant @Model.Profile.UserName" />
</form>
