

@model List<Kapow.Models.RestaurantDto>


<form action="Search" method="Post">
    <h3>Search Type</h3>
    <span>
        <label>
        <input type="radio"  name="searchType" value = "Name" checked> 
        Name
        </label>
        <label>
        <input type="radio"  name="searchType" value = "Location"> 
        Location
        </label>
        <label>
        <input type="radio"  name="searchType" value = "FoodType"> 
        FoodType
        </label>
    </span>
        <p>
    <label for="searchTerm">Keyword:</label>
    <input type="text" name="searchTerm" id="searchTerm" />
    <b></b>
    <select name="Location" id="cars">
        <option value ="Central West End"> Central West End</option>
    </select>
    <select name="Food Tag" id="cars">
        <option value ="Mexican"> Mexican</option>
    </select>
        </p>
    <input type="submit" value="Search" class="btn btn-success"/>
</form>






@foreach(var restaurant in Model)
{
    <table class="job-listing">
            <tr>
                <th> Restaurant Name </th>
                <td>@restaurant.Name</td>
            </tr>
            <tr>
                <th> Restaurant Location </th>
                <td>@restaurant.Location</td>
            </tr>
            <tr>
                <th> Restaurant Foodtag </th>
                <td>@restaurant.FoodTag</td>
            </tr>
            <tr>
                <th> Restaurant Website </th>
                <td>@restaurant.Url</td>
            </tr>
            </table>
}