@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body {
            /*background-color:plum;*/

            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjnVR2j_E_fXemlE0OLLfpB0aepKullS0T1PKPUMQaeI1xmZZDRTCtZfGyKcW_Ss-yL3-oD_q4p7E&usqp=CAU&ec=48665698');
            background-repeat: no-repeat;
            
            background-position: center;
        }
        h1 {
            align-content:center;
        }
    </style>
</head>
<h1>Welcome To Foodie Roulette!! :)</h1>